<appSettings>
  <add key="MailServer" value="dev-stmp.vidly.com"/>
  <add key="FacebookAppId" value="2264595523861053"/>
  <add key="FacebookAppSecret" value="0095083efdd115a73ae791c60afbbf93"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>